PORT=6002
APP_URL=http://localhost:6002
KAILA_SOCKET_BEARER_TOKEN=change_this_before_deployment

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kaila_mvp
KAILA_AUTO_CONFIRM_HOURS=48
KAILA_RATING_WINDOW_DAYS=7
